<!-- Pagination -->
<div class="flex justify-center mt-8 space-x-2">
	{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}"
			class="px-3 py-1 bg-gray-200 dark:bg-gray-700 text-gray-700 dark:text-gray-200 rounded hover:bg-gray-300 dark:hover:bg-gray-600">
			Prev
		</a>
	{% endif %}

	{% for num in page_obj.paginator.page_range %}
		{% if page_obj.number == num %}
			<span class="px-3 py-1 bg-blue-600 text-white rounded">{{ num }}</span>
		{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
			<a href="?page={{ num }}"
			class="px-3 py-1 bg-gray-200 dark:bg-gray-700 text-gray-700 dark:text-gray-200 rounded hover:bg-gray-300 dark:hover:bg-gray-600">
			{{ num }}
			</a>
		{% endif %}
	{% endfor %}

	{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}"
			class="px-3 py-1 bg-gray-200 dark:bg-gray-700 text-gray-700 dark:text-gray-200 rounded hover:bg-gray-300 dark:hover:bg-gray-600">
			Next
		</a>
	{% endif %}

</div>