<!DOCTYPE html>
<html lang="en">
	<head>
		<title>User Dashboard</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>User Login</h1>
		<p>Please log in to access your dashboard.</p>
		<form method="post" action="{% url 'login_submit' %}">
		<!-- <form method="post"> -->
			{% csrf_token %}
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" required><br><br>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" required><br><br>
			<button type="submit">Login</button>
		</form>				
	</body>
</html>