<!DOCTYPE html>
<html lang="en">
	<head>
		<title>User Dashboard</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			.error {
				color: red;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		{% if error %}
			<h3>Warning</h3>
			<p class="error">{{ error }}</p>
		{% elif message %}
			<h3>Message</h3>
			<p>{{ message }}</p>
		{% else %}
			<h1>Thank You!</h1>
			<p>To view your dashboard again, please go to your telegram bot.</p>			
		{% endif %}
		<p>Thanks. You may now close this window now.</p>		
	</body>
</html>